html {
  height: 100%;
}

body{
  background-color: white;
  font-family: 'Roboto', sans-serif;

}

nav{
  margin:0;
}

.navigation{
  padding:0;
  display: flex;
  max-width: 90%;
  margin: 43px;

}

.navigation li{
  display: inline-flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: lighter;
}

.navigation li a:hover {
  color: #ABEFD9;
}

.navigation li a {
  color: black;
  text-decoration: none;
  display: block;
}

.navigation li:first-child{
  margin-right: auto;
}

.navigation li img{
  max-height: 65px;
}

.main_page{
  text-align: center;
  margin-bottom: 60px;
}



h1{
  font-size: 36px;
  letter-spacing: 4px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  color:#F2B8E8;

}

.introduction{
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  line-height: 1.5;
  font-weight: lighter;
}


.bryanna{
  color:pink;
  font-size: 30px;
}

.ucb{
  color:#F4E44E;
}




.button_mainpg{
  width:110px;
  height:43px;
  border-radius: 30px;
  border: 3px solid #ABEFD9 ;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: inline-block;
  margin: auto;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 5px;
  -webkit-transition-duration:0.4s;
  transition-duration:0.3s;
}

.button_mainpg:hover{
  background-color:  #ABEFD9;
}

.button{
  border-radius: 30px;
  border: 4px solid #ABEFD9;
  width: 120px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color:black;
  display: inline-block;
  padding: 9px 24px;
  padding-top: 8px;
  padding-bottom: 10px;
  -webkit-transition-duration:0.4s;
  transition-duration:0.3s;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 5px;
}

.button:hover{
  background-color:  #ABEFD9;
}

.website a{
  color:#F2B8E8;
  text-decoration: none;
}

.website a:hover{
  color:#FFC06C;
  text-decoration: none;
}


.ptitle {
  font-size: 32px;
  margin: auto;
  text-align: left;


}

.pdescriptor {
  font-size: 20px;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 15px;
  text-align: left;

}

.block {
  line-height: 24px;
  font-size: 14px;
  font-weight: lighter;
}


.more_projects :hover{
  color: #ABEFD9;
}

.more_projects   {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 100px;
  letter-spacing: 6px;
}


.destroy{
  max-height: 450px;
}

.cuby_stackup{
  max-height: 400px;
}

.skeletoidsmain{
  max-height: 300px;
}

.wallemain{
  max-height: 350px;
}

.theo{
  max-width: 100%;
  max-height: 90vh;
  margin:auto;
}

footer{
margin: 43px;
padding-bottom: 43px;
text-align: center;
font-size: 18px;
}

footer p{
    text-align: center;
    margin: auto;
    padding-top: 20px;
}


footer li{
  display: inline-flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: lighter;
}

footer li a:hover {
  color: #ABEFD9;
}

footer li a {
  color: black;
  text-decoration: none;
  display: block;
}



.main_page .col{
  text-align: center;
  margin: auto;
  min-width: 400px;
}

.email{
  font-size: 16px;
  font-style: italic;
  color: pink;
}

.recent_projects .col{
  text-align: center;
  margin: auto;
  min-width: 400px;
}

.design_process .col{
  text-align: center;
  margin: auto;
  min-width: 400px;
}

.prototyping img{
  text-align: center;
  margin: auto;
  min-width: 400px;
}

.allprojects img{
  object-fit: cover;
  padding: 18px;

}

img{
  max-width: 100%;
}


.des{
  font-size: 14px;
  text-shadow: none;
  color: black;
  margin-left:40px;
  margin-right:40px;
  margin-top: 35px;
}






.bottomnote{
  font-size: 11px;
  margin: 0px;
}




.prickly{
  width:90%;
  border: 3px solid pink;
  border-radius: 10px;
}




.containpic{
  position: relative;
}



.textname{
  color: black;
  font-size: 28px;
  letter-spacing:1.5px;
}

.textnameunder{
  color: black;
  font-size: 18px;
  letter-spacing:1.5px;
}



.recent_projects .row{
  margin-bottom: 65px;
}


h6{
  font-size: 34px;
  margin: auto;
  background: linear-gradient(180deg,rgba(255,255,255,0) 68% , #94E0C5 68%);
  display: inline;
}

.project_name{
  text-align: center;
  margin: auto;
}


.project_name a{
  text-decoration: none;
  color: black;
  font-size: 13px;
  margin: auto;

 }

.project_name p{
   margin-bottom: auto;
   font-size: 15px;
  }

.project_name li{
  list-style-type: none;
   }

.jacobs a{
    color: #94E0C5;
  }

.jacobs a:hover{
     color: #92FF95;
  }
.ways a{
  color: #F2B8E8;
}

.ways a:hover{
  color: #92FF95;
}



h7{
  font-size: 20px;
}

h8{
  font-size: 16px;
}



.design_process {
  font-size: 13px;
  max-width: 90%;
  line-height: 24px;
  margin: auto;
}

.design_process_all {
  font-size: 13px;
  max-width: 80%;
  line-height: 24px;
  margin: auto;
}


.bryannakiwi{
  max-width: 75%;
  max-height: 75%;
}

.introduction1 img{
  margin-bottom: 20px;
  margin-top: 10px;
}

.importantwords{
  color:#94E0C5;
}

.design_process img{
  margin-top: 20px;
  margin-bottom: 20px;
}

.Problem .col{
  margin: auto;
}

.key_insights{
  background-color: rgba(171, 239, 217,0.3);
  margin: 22px;
  padding: 22px;
}


.key_insights li{
  margin-top: 3px;
}

.ideation img{
  max-height: 250px;
  min-width: 250px;
}

.number_list{
  text-align: center;
}

.design_overview col{
  margin: auto;
}

.design_overview .list{
  text-align: left;
}

.design_overview img{
  max-height: 360px;
}

.design_overview li{
  padding-top: 10px;
}

.meeting1b {
}


ul {
  list-style-type: none;
}

.press {
  padding: 15px;
}

.press li {
  display:inline;
}


h9 {
  font-size: 34px;
  font-style: italic;
  line-height: 1.2;
}

@media screen and (max-width: 958px) {
  .reorder {
    order: 1;
  }
  .navigation li img{
    max-height: 50px;
  }
}

.about_me .col{
  margin: auto;
  text-align: center;
}



.allprojects .row{
margin-left: 1px;
margin-right: 1px;
}


.column img {
    width:  365px;
    height: 365px;
    object-fit:cover;
    display:inline-block;
  vertical-align: middle;
  float: none;
}


.content {
  position: relative;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.content:hover .overlay {
  opacity: 1;
}

.pictext {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.tshape{
  padding: 0;
  margin-top: 4px;
  font-size: 22px;
}

.tshape li{
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

  }

.tshape li a:hover {
    color: #ABEFD9;
  }

.tshape li a {
    color: black;
    text-decoration: none;
    display: block;
  }


.button_main{
    border-radius: 30px;
    border: 4px solid #ABEFD9;
    width: 145px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color:black;
    display: inline-block;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-transition-duration:0.4s;
    transition-duration:0.3s;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 5px;
  }

.button_main:hover{
    background-color:  #ABEFD9;
  }
