html {
  height: 100%;
}

body{
  background-color: white;
  margin:0;
  font-family: futura ;
}

.title{
  text-align: center;
  font-family: 'Shrikhand', cursive;
  font-size: 26px;
  font-weight: normal;
  color:#7D9CD3;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 30px;

}


.navigation a:hover{
  color: pink;
  font-size: 110%;
}

.navigation a {
  color: black;
  text-decoration: none;
}

.navigation li {
  display:inline-block;
  margin: 0 15px;
}

.navigation{
  text-align: right;
}

.left-col , .right-col {
  text-align: center;
  display:flex;
  justify-content: center ;
  align-items: center;
}




.top-container{
  width: 500px;
  margin: 0 auto;
  display:grid;
  height:100%;
}

.center-fit{
  max-width: 100%;
  max-height: 90vh;
  margin:auto;
}

h1{
  font-size: 33px;
  font-style: italic;
  letter-spacing: 4px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.introduction{
  font-size: 26px;
}

.bryanna{
  color:pink;
}

.ucb{
  color:#F4E44E;
}

.transition{
  text-align: center;
  color:#7D9CD3;
  font-size: 20px;
  margin-top: 0px;
}

h2{
  font-size: 30px;
  border-radius: 10px;
  border: 5px solid pink ;
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 4px;
  padding-top: 4px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 18px;
  font-style: italic;
}

h5{
  font-size: 14px;
}

.container-s{
  width: 600px;
  margin: 0 auto;
  display:grid;
  height:100%;
}

.theo{
  max-width: 100%;
  max-height: 90vh;
  margin:auto;
}
.walle{
  width:100%
  padding-left: 60px;
}

.wiikart{
  width:100%
  padding-left: 60px;
}

.BI{
  width:100%
  padding-right: 60px;
}

.coolfan{
  width:100%
  padding-right: 60px;
}

footer{
  background-color: pink ;
}

.container{
  text-align: center;
}

.email{
  font-size: 18px;
  font-style: italic;
  color: white;
}
.social-media-container {
  text-align: center;
}


.social-media-container li {
  display:inline-block;
  margin: 0 15px;
  margin-bottom: 10px;
}

img{
  max-width: 100%;
}


.overlay{
  position: relative;
  width:100%;
}


.overlay .walle {
  display:block;
  width:100;
  height:auto;
}

.text{
 color: white;
 font-family: futura;
 font-size: 42px;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
 text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.des{
  font-size: 14px;
  text-shadow: none;
  color: black;
  margin-left:40px;
  margin-right:40px;
  margin-top: 35px;
}


.overlay .hover{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:.6s ease;
  background-color: #C7F2D1;
}


.overlay:hover .hover{
  opacity: 1;
}




.overlay .wiikart {
  display:block;
  width:100;
  height:auto;
}


.overlay .hover2{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:.6s ease;
  background-color: #FCD4F1;
}


.overlay:hover .hover2{
  opacity: 1;
}


.overlay .BI {
  display:block;
  width:100;
  height:auto;
}


.overlay .hover3{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:.6s ease;
  background-color:#86ACC6;
}


.overlay:hover .hover3{
  opacity: 1;
}


.overlay .coolfan {
  display:block;
  width:100;
  height:auto;
}


.overlay .hover4{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:.6s ease;
  background-color: #FAFCA3;
}


.overlay:hover .hover4{
  opacity: 1;
}


.overlay .skeletoids {
  display:block;
  width:100;
  height:auto;
}


.overlay .hover5{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:.6s ease;
  background-color: #86ACC6;
}


.overlay:hover .hover5{
  opacity: 1;
}


.overlay .ineed {
  display:block;
  width:100;
  height:auto;
}


.overlay .hover6{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:.6s ease;
  background-color: #C7F2D1;
}


.overlay:hover .hover6{
  opacity: 1;
}



.overlay .theo {
  display:block;
  width:100;
  height:auto;
}


.overlay .hover0{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:.6s ease;
}


.overlay:hover .hover0{
  opacity: 1;
}

.text0{
 color: white;
 font-family: futura;
 font-style: italic;
 font-size: 45px;
 letter-spacing: 3px;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
 text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}



.overlay .destroy {
  display:block;
  width:100;
  height:auto;
}


.overlay .hover02{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:.6s ease;
}


.overlay:hover .hover02{
  opacity: 1;
}


.ineed{
  width: 52%;
}

.bottomnote{
  font-size: 11px;
  margin: 0px;
}

.roles{
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 60px;
  border-radius: 10px;
  border: 3px solid white;

}
.roles li{
  font-size: 11px;
  text-shadow: none;
  color: black;
  text-align:left;


}

.prickly{
  width:90%;
  border: 3px solid pink;
  border-radius: 10px;
}
